<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col">
    <h4>Entities</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Value</th>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
        <th>Relevancy</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entity of explanatorSemanticTopEntities" inhabit-semantic-entity-explanator
          [semanticEntityData]=entity>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--5-col" *ngIf="taxonomyExists">
    <h4>Taxonomy</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Value</th>
        <th>Relevancy</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let taxonomy of explanatorSemanticTopTaxonomy" app-semantic-taxonomy-explanator
          [semanticTaxonomyData]=taxonomy>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div template="ngIf (explanatorModules && explanatorModules.length > 0) ">
      <p>Factives listed inside the InHabit</p>
      <ol>
        <li *ngFor="let module of explanatorModules">{{module}}</li>
      </ol>
      <p>Chain will start from the factive number:
        {{explanatorModules.length}}</p>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div template="ngIf (explanatorMessages && explanatorMessages.length > 0) ">
      <p>Loading process events:</p>
      <inhabit-messages-explanator [messages]=explanatorMessages></inhabit-messages-explanator>
    </div>
  </div>
</div>
