<div class="contentPresenter">
    <div class="contentHeader" (click)="toggleExpanding($event)">
        <span template = "ngIf !contentShown">All resutls of the page semantic analyze could be shown by clicking here.</span>
        <span template = "ngIf contentShown">Click to collapse the semantic results view.</span>
    </div>
    <div [ngClass]="{expandedConent: contentShown, collapsedContent: !contentShown}">
        <table class="table">
            <tbody>
            <tr *ngFor="let entity of semanticatorEntities">
                <td>{{entity.providerName}}</td>
                <td>
                    <div *ngFor="let result of entity.results">
                        {{result.kind}} : {{result.value}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="spinner-cube-container" template = "ngIf contentLoading">
            <div class="spinner-cube"></div>
        </div>
    </div>
</div>
