<div>
<h3>Semantic information about the current page</h3>
   <div>
       <button (click)="refreshData($event)">Refresh Data</button>
   </div>
    <table class="table">
        <tbody>
        <tr *ngFor="let entity of semanticatorEntities">
            <td>{{entity.providerName}}</td>
            <td>
                <div *ngFor="let result of entity.results">
                    {{result.kind}} : {{result.value}}
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>