<div>
    <div style="display:flex; align-content: space-between; flex-direction: row;">
        <h3>Inhabit Interactive information</h3>
        <div style="padding:1em; display:flex; justify-content: space-between;">
            <button (click)="refreshData($event)">Grab data from the client page</button>
            <button (click)="reloadPage($event)">Reload client page</button>
        </div>
    </div>
    <inhabit-widget-explanator></inhabit-widget-explanator>
    <inhabit-widget-semanticator></inhabit-widget-semanticator>
    <inhabit-widget-messenger></inhabit-widget-messenger>
</div>