<div template="ngIf contextUrl">Content address: <a href="{{contextUrl}}" target="_blank">{{contextUrl}}</a></div>
<div *ngFor="let entity of semanticatorEntities" class="semantic-entity-container">
  <div>Entity provided by {{entity.providerName}}</div>
  <div *ngFor="let result of entity.results">
    {{result.kind}} : {{result.value}}
  </div>
</div>

<div *ngFor="let taxonomy of semanticatorTaxonomy" class="semantic-taxonomy-container">
  <div>Taxonomy provided by {{taxonomy.providerName}}</div>
  <div *ngFor="let result of taxonomy.results">
    {{result.kind}} : {{result.value}}
  </div>
</div>


<div class="spinner-cube-container" template="ngIf (contentLoading && contentShown)">
  <div class="spinner-cube"></div>
</div>
